
   body{    
        

        background-color: aliceblue;
        background-size:auto ;         
          
    }
    

  .home{   
        background: url(gif1.gif);
        font-size: 30px;
        font-weight: lighter;
        font-style: normal;
        text-align: left;
        float:center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
        row-gap: 20;
        column-count: 5;

   }
   

.welcome{
background: url("2.jpeg");
        


    font-weight: lighter;
    font-family:Comic Sans MS,cursive;
    text-align: left;
    float:center;
    color: rgb(253, 252, 249);
    text-shadow: rgb(232, 104, 18) 1px 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    row-gap: 20;
    
   

      
        
}

.welcomecolumn {
        float: left;
        width: 33.33%;
        padding: 100px;
        box-shadow: 0 4px 8px rgb(216, 210, 210)        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;

        
      }
      
      
      .welcomerow::after {
        box-shadow: 0 4px 8px rgb(216, 6, 6)        0 6px 20px 0 rgba(0, 0, 0, 0.19);
        content: "";
        clear: both;
        display: table;
      }
     

.things1{
        
        border-radius: 8px;
        max-width: 100%;
         height: auto;
        margin: 100px 500px 20px;
        color: #000000;
        background-color:antiquewhite;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      

}
* {
        box-sizing: border-box;
      }
.column {
        float: left;
        width: 33.33%;
        padding: 5px;
    
      }
      
      
      .row::after {
        content: "";
        clear: both;
        display: table;
      
      }
.container{
        text-align: center;
        padding: 10px 20px;
       
}

.cafe{

        margin: 100px 300px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 23px;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:right;
        color: #000000;
        background-color: rgb(215, 209, 201);
        column-count: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 


.restaurant{ margin: 100px 300px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 23px;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:right;
        color: #000000;
        background-color: rgb(215, 209, 201);
        column-count: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.waterfalls{
        margin: 100px 300px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 23px;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:right;
        color: #000000;
        background-color: rgb(215, 209, 201);
        column-count: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.attraction{
        margin: 100px 300px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 23px;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:right;
        color: #000000;
        background-color: rgb(215, 209, 201);
        column-count: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.foods{ margin: 100px 300px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 23px;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:right;
        color: #000000;
        background-color: rgb(215, 209, 201);
        column-count: 2;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
        font-size: 80px;
        font-weight: lighter;
        font-style: normal; 
        text-align: center;
        
        
}

.paragraph1{
   
        margin: 100px 300px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 25px;
        font-weight: lighter;
        font-style: normal; 
        text-align: center;
        background-color: antiquewhite;
        font-family: 'Montserrat', sans-serif;


}
.wear{
        margin: 100px 400px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 30px;
        font-weight: lighter;
        font-style:inherit;
        text-align: center;
        color: rgb(241, 154, 148);
       
}
.clothes{
        margin: 50px 400px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 30px;
        font-weight: lighter;
        font-style: normal;
        text-align: center;
        float:center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        

}
.skirts{ margin: 0px 500px 20px;
        padding: 10px 10px 10px 10px;
        font-size: 23px;
        border-radius: 10px;
        border-width: thin;
        min-height: 50px;
        height: 50%;
        width: 50%;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:center;
        color: #000000;
        background-color: rgb(243, 227, 213);
        column-count: 2;
        box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
}
.sunscreen{ margin: 0px 500px 20px;
        padding: 10px 10px 10px 10px;
        font-size: 23px;
        border-radius: 10px;
        border-width: thin;
        height: 50%;
        width: 50%;
        min-height: 50px;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:center;
        color: #000000;
        background-color: rgb(250, 216, 222);
        column-count: 3;
        box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
}
.sandals{ margin: 0px 500px 20px;
        padding: 10px 10px 10px 10px;
        font-size: 23px;
        border-radius: 10px;
        border-width: thin;
        height: 50%;
        width: 50%;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:center;
        color: #000000;
        background-color: rgb(209, 187, 167);
        box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
        column-count: 2
      

}
.repelant{
        margin: 0px 500px 20px;
        padding: 10px 10px 10px 10px;
        font-size: 23px;
        border-radius: 10px;
        border-width: thin;
      
        height: 50%;
        width: 50%;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:center;
        color: #000000;
        background-color: rgb(185, 214, 241);
        column-count: 2;
        box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
}
.shirts{
        margin: 0px 500px 20px;
        padding: 10px 10px 10px 10px;
        font-size: 23px;
        border-radius: 10px;
        border-width: thin;
        
        height: 50%;
        width: 50%;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:center;
        color: #000000;
        background-color: rgb(243, 242, 207);
        column-count: 2;
        box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
}
.shorts{
        margin: 0px 500px 20px;
        padding: 10px 10px 10px 10px;
        font-size: 23px;
        border-radius: 10px;
        border-width: thin;
       
        height: 50%;
        width: 50%;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:center;
        color: #000000;
        background-color: rgb(230, 217, 242);
        column-count: 2;
        box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);

}
.bag{ 
        margin: 0px 500px 20px;
        padding: 10px 10px 10px 10px;
        font-size: 23px;
        border-radius: 10px;
        border-width: thin;
       
        height: 50%;
        width: 50%;
        font-weight: lighter;
        font-style: normal; 
        text-align: left;
        float:center;
        color: #000000;
        background-color: rgb(205, 242, 207);
        column-count: 2;
        box-shadow: 3.6px 7.2px 7.2px hsl(0deg 0% 0% / 0.39);
}
  table, td, th {  
        border: 1px solid #ddd;
        text-align: left;
        float:center;
        margin-left: auto; 
  margin-right: auto;
      }
      
      table {
        border-collapse: collapse;
        width: 80%;
       
      }
      
      th, td {
        padding: 15px;
      }
    .trip{margin: 100px 400px 20px;
        padding: 10px 10px 10px 100px;
        font-size: 30px;
        font-weight: lighter;
        font-style: normal; 
        text-align: center;

    }
    .comments{
       
        font-size: 50px;
        border-radius: 10px;
        border-width: thin;
       text-align: center;
        height: 50%;
        width: 100%;
        font-weight: lighter;
        font-style: normal; 
      
        float:left;
        color: #000000;
   
        

    }
    #comments{
          font-size: 25 px;
    }
 



    
